.container{margin:auto;}
.container:after{display:block;content:"";clear:both;}
.img-responsive{width:100%;height: auto}

/*small size--> mobile*/
@media screen and (max-width:767px){
	.container{width:98%}
	.col-xs-3{width:calc(25% - 30px);float:left;padding: 0 15px}

}
/*tablets*/
@media screen and (min-width: 768px) and (max-width:991px){
	
.container{width:750px}
	.col-sm-6{width:calc(50% - 30px);float:left;padding: 0 15px}

}
/*desktop*/
@media screen and (min-width: 992px) and (max-width:1999px){
	.container{width:970px}
	.col-md-3{width:calc(25% - 30px);float:left;padding: 0 15px}


}
/*large devices*/
@media screen and (min-width:1200px){
	.container{width:1170px}
	.col-lg-3{width:calc(25% - 30px);float:left;padding: 0 15px}


}