<!DOCTYPE html>
<html ng-app>
<head>
	<script type="text/javascript" src="angular.min.js"></script>
	
</head>
<body ng-init="data='abcd' ; checkval=false;xyz=1">

	<input type="checkbox" ng-model="checkval" />{{checkval}}
	<br/>
	<input type="text" ng-model="data" ng-show="checkval">
	<input type="password" ng-model="data" ng-show="!checkval">

	<hr/>
	<input type="radio" name="xy" ng-model="xyz" value="1">LOGIN
	<input type="radio" name="xy" ng-model="xyz" value="2">REGISTER
	<input type="radio" name="xy" ng-model="xyz" value="3">FORGOT
	<br/>
	{{xyz}}
	<br/>
	<div ng-if="xyz==1">LOGIN FORM</div>
	<div ng-if="xyz==2">REGISTER FROM</div>
	<div ng-if="xyz==3">FORGOT FORM</div>
</body>
</html>